<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.unizar.eina.pandora2FA">
    <!-- To call backing services -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity android:name=".plataforma.SobrePandora" />

        <activity android:name=".Principal" />
        <activity android:name=".plataforma.ContactarTres" />
        <activity android:name=".plataforma.ContactarDos" />
        <activity android:name=".plataforma.ContactarUno" />
        <activity android:name=".reestablecer.ReestablecerUno" />
        <activity android:name=".reestablecer.ReestablecerDos" />
        <activity android:name=".autenticacion.Login" />
        <activity android:name=".Inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>